params {
  preconfiguredDatabase = true
  writeBedFile = true
  hasPairedReads = true
  removePCRDuplicates = true
  //input = "$launchDir/data/test.tsv"
  downloadMethod = 'local'
  databaseFasta = "$launchDir/data/bowtieIndex"
  databaseFileDir = "$launchDir/data/bt2"
  indexFileBasename = "genomicIndexes"
  outputDir = "$launchDir/output"
  sampleName = "test"
  mateA = "$launchDir/data/paired_files/SRR12919600_1.fastq"
  mateB = "$launchDir/data/paired_files/SRR12919600_2.fastq"
  extraBowtieParams = ""
}
docker {
    enabled = true
}
