params {
  //Try out the combinations of the first parameters with true and false to see functionality
  fromSRA = false
  preconfiguredDatabase = false

  //Need to work on single end functionality due to lack of qual files
  isSingleEnd = false
  
  isColorspace = false
  removePCRDuplicates = false

  apiKey = ""
  sraID = "SRR12919600"
 
  databaseFasta = "$launchDir/data/bowtieIndex"
  databaseFileDir = "$launchDir/data/bt2"
  mateA = "$launchDir/data/mateA"
  mateB = "$launchDir/data/mateB"
  mateAQual = "$launchDir/data/mateA.qual"
  mateBQual = "$launchDir/data/mateB.qual"
  outputDir = "$launchDir/output1"
  bamFile = "output.bam"
  logFile = "runBowtieMapping.log"
  samFile = "output.sam"
  
}
process {
  container = 'veupathdb/bowtiemapping:latest'
}
docker {
    enabled = true
}
